---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
	'data-scroll'?: boolean;
	'data-mt-duration'?: number;
}

const { href, ...attrs } = Astro.props;
---

<a
	href={href}
	class="rounded-md bg-background-primary px-3.5 py-2.5 text-sm font-semibold shadow-sm hover:bg-background-primary-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
	{...attrs}
>
	<slot />
</a>
