---
import Layout from '../layouts/Layout.astro';
import Button from '../ui/Button.astro';

const data = {
	title: 'Dailyboard - A daily planner for committed teams ✅',
	description:
		'Dailyboard is a lightweight tool for organizing your day as a team. Rediscover teamwork, share the flow and create more value together!',
};
---

<Layout {...data}>
	<div class="flex flex-col gap-16 items-center justify-center py-48">
		<h1 class="text-5xl font-extrabold">Page not found</h1>
		<Button href="/">Go to homepage</Button>
	</div>
</Layout>
