---
import Layout from '../layouts/Layout.astro';
import HomepageHero from '../sections/HomepageHero.astro';
import HomepageKeyFeatures from '../sections/HomepageKeyFeatures.vue';
import HomepageLogocloud from '../sections/HomepageLogocloud.astro';
import HomepageSolvedProblems from '../sections/HomepageSolvedProblems.vue';
import HomepageContact from '../sections/HomepageContact.astro';
---

<Layout title="Dailyboard - Transparent planning for all teams">
	<main>
		<HomepageHero />
		<HomepageKeyFeatures />
		<HomepageLogocloud />
		<HomepageSolvedProblems />
		<HomepageContact />
	</main>
</Layout>

<script>
	const observer = new IntersectionObserver(
		(elements) => {
			elements.forEach((el) => {
				const animation = el.target.getAttribute('data-animate');
				const delayData = el.target.getAttribute('data-delay');
				const delay = delayData ? Number.parseInt(delayData) : 0;

				if (animation && el.isIntersecting) {
					setTimeout(() => {
						el.target.classList.add(animation);
						el.target.classList.remove('opacity-0');
					}, delay);
				}
			});
		},
		{ threshold: 0.35 }
	);
	const elements = document.querySelectorAll('[data-animate]');
	elements.forEach((el) => {
		el.classList.add('opacity-0');
		observer.observe(el);
	});
</script>
