---
import Layout from '../layouts/Layout.astro';
import HomepageHero from '../sections/HomepageHero.astro';
import HomepageKeyFeatures from '../sections/HomepageKeyFeatures.vue';
import HomepageLogocloud from '../sections/HomepageLogocloud.astro';
import HomepageSolvedProblems from '../sections/HomepageSolvedProblems.vue';
import Pricing from '../sections/Pricing.vue';
import HomepageContact from '../sections/HomepageContact.astro';
---

<Layout title="Dailyboard - A daily planner for committed teams">
	<main id="top">
		<HomepageHero />
		<HomepageKeyFeatures />
		<HomepageLogocloud />
		<HomepageSolvedProblems />
		<Pricing />
		<HomepageContact />
	</main>
</Layout>
