---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.vue';
---

<Layout title="Dailyboard - Transparent planning for all teams">
	<main>
		<Hero client:load />
	</main>

	<style></style>
</Layout>
