---
import TryCtaScroll from './TryCtaScroll.astro';
---

<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
	<div class="flex lg:flex-1">
		<a
			href="#top"
			class="-m-1.5 p-1.5 flex items-center"
			data-scroll
			data-mt-duration="1000"
		>
			<span class="sr-only">Dailyboard</span>
			<img
				class="h-6 sm:h-8 lg:h-10 w-auto"
				src="https://dailyboard-io-website.s3.eu-central-1.amazonaws.com/dailyboard-logo.svg"
				alt="Dailyboard logo"
			/>
			<span class="ml-4 text-xl font-extrabold sm:text-2xl lg:text-3xl">Dailyboard</span>
		</a>
	</div>
	<div class="hidden lg:flex items-center gap-8">
		<a
			href="#how-does-it-work"
			class="hover:text-text-primary-weak font-extrabold transition-colors"
			data-scroll
			data-mt-duration="1000">How does it work?</a
		>
		<a
			href="#is-it-for-me"
			class="hover:text-text-primary-weak font-extrabold transition-colors"
			data-scroll
			data-mt-duration="1000">Is it for me?</a
		>
		<a
			href="#pricing"
			class="hover:text-text-primary-weak font-extrabold transition-colors"
			data-scroll
			data-mt-duration="1000">Pricing</a
		>
	</div>
	<div class="flex flex-1 justify-end">
		<TryCtaScroll client:load />
	</div>
</nav>
