---
import TextGradient from '../components/TextGradient.astro';
import TextEyebrow from '../components/TextEyebrow.astro';
---

<div class="py-24 sm:py-32">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div class="mx-auto max-w-2xl sm:text-center">
			<h2><TextEyebrow>Daily planning app for teams</TextEyebrow></h2>
			<p class="mt-2 text-3xl font-bold tracking-tight text-text sm:text-4xl">
				Take the most out of <TextGradient>each day</TextGradient>
			</p>
			<p class="mt-6 text-lg leading-8 text-text-weak">
				Dailyboard is a daily planner for everyone in your company. It helps teams
				easily sync their work and avoid unneccessary roadblocks.
			</p>
		</div>
	</div>
	<div class="relative overflow-hidden pt-16">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<video
				v-else
				autoplay
				muted
				loop
				playsinline
				preload="auto"
				onplay="this.controls = false"
				data-animate="animate-fade-left"
				data-delay="150"
				class="rounded"
			>
				<source
					class="rounded"
					type="video/mp4"
					src="https://dailyboard-io-website.s3.eu-central-1.amazonaws.com/dailyboard_intro.mp4"
				/>
			</video>

			<div class="relative" aria-hidden="true">
				<div
					class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-background pt-[7%]"
				>
				</div>
			</div>
		</div>
	</div>
	<div
		class="absolute inset-x-0 top-80 -z-10 transform-gpu overflow-hidden px-36 blur-3xl"
		aria-hidden="true"
	>
		<div
			class="mx-auto aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-emerald-400 to-emerald-700 opacity-30 rotate-[-180deg] -scale-x-100"
			style="
					clip-path: polygon(
						74.1% 44.1%,
						100% 61.6%,
						97.5% 26.9%,
						85.5% 0.1%,
						80.7% 2%,
						72.5% 32.5%,
						60.2% 62.4%,
						52.4% 68.1%,
						47.5% 58.3%,
						45.2% 34.5%,
						27.5% 76.7%,
						0.1% 64.9%,
						17.9% 100%,
						27.6% 76.8%,
						76.1% 97.7%,
						74.1% 44.1%
					);
				"
		>
		</div>
	</div>
</div>
