---
import Container from '../components/Container.astro';
import TextImageSection from '../components/SectionTextMedia.astro';

const features = [
	{
		name: `Clear, visual status updates`,
		description: `
					<p>Dailyboard visually distincts met commitments from the unmet ones and helps your team manage workload.</p>
				`,
		media: {
			type: 'image',
			url: 'https://res.cloudinary.com/dl5xtsolh/image/upload/v1706357094/features__commitments_status.png',
		},
		icon: 'ph:arrows-in-duotone',
		gradientRotation: 'rotate-[210deg]',
		reversed: false,
	},
	{
		name: `Link to anything`,
		description: `
					<p>Dailyboard makes it easy to reflect your commitments to Slack threads, meetings, e-mails and anything that requires your time.</p>
				`,
		media: {
			type: 'image',
			url: 'https://res.cloudinary.com/dl5xtsolh/image/upload/v1706357226/features__commitments_link.png',
		},
		icon: 'ph:users-three-duotone',
		gradientRotation: 'rotate-[215deg]',
		reversed: true,
	},
	{
		name: `Quickly duplicate commitments`,
		description: `
					<p>If you need to continue work on the same problem - duplicate a commitment with all information, using a simple drag and drop.</p>
				`,
		media: {
			type: 'image',
			url: 'https://res.cloudinary.com/dl5xtsolh/image/upload/v1706357478/features__commitments_duplicate.png',
		},
		icon: 'ph:users-three-duotone',
		gradientRotation: 'rotate-[215deg]',
		reversed: false,
	},
];
---

<Container>
	<div class="overflow-hidden relative isolate">
		<div class="mx-auto max-w-7xl pb-12 px-6 lg:px-8">
			<div
				class="mx-auto max-w-3xl py-24 sm:py-32 lg:text-center"
				data-animate="animate-fade-left"
			>
				<h2 class="text-base font-semibold leading-7 text-text-primary-weak">
					Commitments
				</h2>
				<p class="mt-2 text-3xl font-bold tracking-tight text-text sm:text-4xl">
					Commit to succeed
				</p>
				<p class="mt-6 text-lg leading-8 text-text-weak">
					Dailyboard facilitates commitment - define <strong
						>who, what and when</strong
					> with one click. Replace&nbsp;"it needs to be done" with "I will do it".
				</p>
			</div>
		</div>
	</div>
	{features.map((feature) => <TextImageSection data={feature} />)}
</Container>
