---
const foundingYear = 2023;
const currentYear = new Date().getFullYear();

const navigation = {
	guides: [
		{ name: 'Daily stand-up', href: '#' },
		{ name: 'Planner for teams', href: '#' },
		{ name: 'Time blocking', href: '#' },
	],
	solutions: [
		{ name: 'Dailyboard and Jira', href: '#' },
		{ name: 'Dailyboard and ClickUp', href: '#' },
		{ name: 'Dailyboard and Asana', href: '#' },
		{ name: 'Dailyboard and Monday', href: '#' },
	],
	company: [
		{ name: 'Product', href: '#' },
		{ name: 'About', href: '#' },
		{ name: 'Blog', href: '#' },
	],
	legal: [
		{ name: 'Claim', href: '#' },
		{ name: 'Privacy', href: '#' },
		{ name: 'Terms', href: '#' },
	],
	social: [],
};
---

<footer class="mt-24" aria-labelledby="footer-heading">
	<h2 id="footer-heading" class="sr-only">Footer</h2>
	<div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
		<div class="xl:grid xl:grid-cols-3 xl:gap-8">
			<div class="space-y-8 pr-4">
				<img
					class="h-7"
					src="https://dailyboard-io-website.s3.eu-central-1.amazonaws.com/dailyboard-logo.svg"
					alt="Dailyboard"
				/>
				<p class="text-sm leading-6 text-text-weak">
					Helping teams reach their full potential, by improving their daily
					perfomance.
				</p>
				<div class="flex space-x-6">
					<!-- <a v-for="item in navigation.social" :key="item.name" :href="item.href" class="text-gray-500 hover:text-gray-400">
              <span class="sr-only">{{ item.name }}</span>
              <component :is="item.icon" class="h-6 w-6" aria-hidden="true" />
            </a> -->
				</div>
			</div>
			<div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
				<div class="md:grid md:grid-cols-2 md:gap-8">
					<div>
						<h3 class="text-sm font-semibold leading-6 text-text">Guides</h3>
						<ul role="list" class="mt-6 space-y-4">
							{
								navigation.guides.map((item) => (
									<li>
										<a :href="item.href" class="text-sm leading-6 text-text-weak hover:text-text">{ item.name }</a>
									</li>
								))
							}
						</ul>
					</div>
					<div class="mt-10 md:mt-0">
						<h3 class="text-sm font-semibold leading-6 text-text">Solutions</h3>
						<ul role="list" class="mt-6 space-y-4">
							{
								navigation.solutions.map((item) => (
									<li>
										<a :href="item.href" class="text-sm leading-6 text-text-weak hover:text-text">{ item.name }</a>
									</li>
								))
							}
						</ul>
					</div>
				</div>
				<div class="md:grid md:grid-cols-2 md:gap-8">
					<div>
						<h3 class="text-sm font-semibold leading-6 text-text">Company</h3>
						<ul role="list" class="mt-6 space-y-4">
							{
								navigation.company.map((item) => (
									<li>
										<a :href="item.href" class="text-sm leading-6 text-text-weak hover:text-text">{ item.name }</a>
									</li>
								))
							}
						</ul>
					</div>
					<div class="mt-10 md:mt-0">
						<h3 class="text-sm font-semibold leading-6 text-text">Legal</h3>
						<ul role="list" class="mt-6 space-y-4">
							{
								navigation.legal.map((item) => (
									<li>
										<a :href="item.href" class="text-sm leading-6 text-text-weak hover:text-text">{ item.name }</a>
									</li>
								))
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
			<p class="text-xs leading-5 text-gray-400">
				&copy; {foundingYear}
				{currentYear !== foundingYear && `- ${currentYear}`} Dailyboard sp. z o. o..
				All rights reserved.
			</p>
		</div>
	</div>
</footer>
