---
import TopNav from '../components/TopNav.astro';
import TryCtaScroll from '../components/TryCtaScroll.vue';
---

<div>
	<header class="fixed inset-x-0 top-0 z-50 backdrop-blur-md border-b border-gray-900">
		<TopNav />
	</header>

	<div class="relative isolate pt-14">
		<div
			class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
		>
			<svg
				class="relative left-[calc(50%-11rem)] -z-10 mt-80 h-[21.1875rem] max-w-none -translate-x-1/4 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
				viewBox="0 0 1155 678"
			>
				<path
					fill="url(#f4773080-2a16-4ab4-9fd7-579fec69a4f7)"
					fill-opacity=".2"
					d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
				></path>
				<defs>
					<linearGradient
						id="f4773080-2a16-4ab4-9fd7-579fec69a4f7"
						x1="1155.49"
						x2="-78.208"
						y1=".177"
						y2="474.645"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#34d399"></stop>
						<stop offset="1" stop-color="#0d9488"></stop>
					</linearGradient>
				</defs>
			</svg>
		</div>
		<div class="py-24 sm:py-32 lg:pb-40">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div
					class="mx-auto max-w-3xl text-center mt-12"
					data-animate="animate-fade-left"
				>
					<h1 class="text-4xl font-bold tracking-tight sm:text-6xl">
						Every big success is made&nbsp;of daily&nbsp;wins
					</h1>
					<p class="mt-6 text-xl leading-8 text-text-weak">
						<strong>Dailyboard</strong> will help your team achieve daily goals,
						work in&nbsp;perfect sync and&nbsp;reach your full potential.
					</p>
					<div class="mt-10 flex items-center justify-center gap-x-6">
						<TryCtaScroll />
					</div>
				</div>
				<div class="shadow-inner">
					<video
						id="hero_video__desktop"
						preload="auto"
						autoplay
						loop
						muted
						class="hidden lg:block aspect-video w-full animate-fade-left duration-300 mt-20 lg:mt-24 xl:mt-32 shadow-xl shadow-gray-900"
					>
						<source
							type="video/mp4"
							src="https://res.cloudinary.com/dl5xtsolh/video/upload/v1696706246/Dailyboard_Intro_1080.mp4"
						/>
					</video>
					<video
						id="hero_video__mobile"
						preload="auto"
						autoplay
						loop
						muted
						playsinline
						controls
						class="lg:hidden aspect-video w-full animate-fade-left duration-300 mt-12 shadow-xl shadow-gray-900"
					>
						<source
							type="video/mp4"
							src="https://res.cloudinary.com/dl5xtsolh/video/upload/v1696706246/Dailyboard_Intro_720.mp4"
						/>
					</video>
					<div id="info"></div>
				</div>
			</div>
		</div>
		<div
			class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
		>
			<svg
				class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]"
				viewBox="0 0 1155 678"
			>
				<path
					fill="url(#ee0717bf-3e43-49df-b1bd-de36422ed3d3)"
					fill-opacity=".2"
					d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
				></path>
				<defs>
					<linearGradient
						id="ee0717bf-3e43-49df-b1bd-de36422ed3d3"
						x1="1155.49"
						x2="-78.208"
						y1=".177"
						y2="474.645"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#34d399"></stop>
						<stop offset="1" stop-color="#0d9488"></stop>
					</linearGradient>
				</defs>
			</svg>
		</div>
	</div>
</div>
