---
import SectionTextMedia from '../components/SectionTextMedia.astro';

const features = [
	{
		name: `Quickly capture your promises`,
		description: `
					<p>Bring all your work in one place with a few clicks. Plan meetings, tasks and other things that you need time for.</p>
				`,
		media: {
			type: 'video',
			url: 'https://dailyboard-io-website.s3.eu-central-1.amazonaws.com/all_commitments.mp4',
		},
		icon: 'ph:arrows-in-duotone',
		gradientRotation: 'rotate-[210deg]',
		reversed: false,
	},
	{
		name: `Embrace teamwork`,
		description: `
					<p>Work as a team to design a productive day. Move forward with confidence that everyone's in sync.</p>
				`,
		media: {
			type: 'video',
			url: 'https://dailyboard-io-website.s3.eu-central-1.amazonaws.com/embrace_teamwork.mp4',
		},
		icon: 'ph:users-three-duotone',
		gradientRotation: 'rotate-[215deg]',
		reversed: true,
	},
	{
		name: `Have your plans always at hand`,
		description: `
					<p>See all your commitments anywhere you go. Never loose track of the promises you made to others.</p>
				`,
		media: {
			type: 'video',
			url: 'https://dailyboard-io-website.s3.eu-central-1.amazonaws.com/contexts.mp4',
		},
		icon: 'ph:circles-three-plus-duotone',
		gradientRotation: 'rotate-[115deg]',
		reversed: false,
	},
	{
		name: `Effortless status updates`,
		description: `
					<p>Easily share what's done and what needs more attention. No more asking about status of someone's work.</p>
				`,
		media: {
			type: 'video',
			url: 'https://dailyboard-io-website.s3.eu-central-1.amazonaws.com/distractions_status.mp4',
		},
		icon: 'ph:circle-wavy-check-duotone',
		gradientRotation: 'rotate-[220deg]',
		reversed: true,
	},
];
---

<div id="how-does-it-work" class="overflow-hidden relative isolate">
	<div class="mx-auto max-w-7xl pb-12 px-6 lg:px-8">
		<div
			class="mx-auto max-w-3xl py-24 sm:py-32 lg:text-center"
			data-animate="animate-fade-left"
		>
			<h2 class="text-base font-semibold leading-7 text-text-primary-weak">
				How does it work?
			</h2>
			<p class="mt-2 text-3xl font-bold tracking-tight text-text sm:text-4xl">
				Design your day as a team
			</p>
			<p class="mt-6 text-lg leading-8 text-text-weak">
				So many things require your team's attention - tasks, meetings, feedbacks etc.
				Dailyboard is a single place to capture them all and design your day together
				for the most impact.
			</p>
		</div>

		{features.map((feature) => <SectionTextMedia data={feature} />)}
	</div>
</div>
