<div class="py-24 sm:py-32 relative isolate">
	<div
		class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
	>
		<svg
			class="relative left-[calc(50%-11rem)] -z-10 mt-80 h-[21.1875rem] max-w-none -translate-x-1/4 rotate-[210deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
			viewBox="0 0 1155 678"
		>
			<path
				fill="url(#f4773080-2a16-4ab4-9fd7-579fec69a4f7)"
				fill-opacity=".2"
				d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
			></path>
			<defs>
				<linearGradient
					id="f4773080-2a16-4ab4-9fd7-579fec69a4f7"
					x1="1155.49"
					x2="-78.208"
					y1=".177"
					y2="474.645"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="#34d399"></stop>
					<stop offset="1" stop-color="#0d9488"></stop>
				</linearGradient>
			</defs>
		</svg>
	</div>
	<div>
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
				<div class="mx-auto w-full max-w-2xl lg:mx-0" data-animate="animate-fade-left">
					<h2 class="text-3xl font-extrabold tracking-tight text-text">
						Works with any project management app
					</h2>
					<p class="mt-6 text-lg leading-8 text-text-weak">
						Dailyboard <strong>enhances</strong>, not replaces your project
						management app. You don't need to change <strong>anything</strong>
						 about your current workflow.
					</p>
					<p class="mt-6 text-lg leading-8 text-text-weak">
						You can start in the matter of minutes! Setup an organization, create
						your first board, invite teammates and you're ready to go!
					</p>
				</div>
				<div
					class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-x-6 gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8"
					data-animate="animate-fade-left"
					data-delay="300"
				>
					<img
						class="object-contain object-left brightness-200 saturate-0"
						src="/jira.svg"
						alt="Jira"
						width="114"
						height="48"
					/>
					<img
						class="object-contain object-left brightness-200 saturate-0"
						src="/clickup.svg"
						alt="ClickUp"
						width="164"
						height="40"
					/>
					<img
						class="object-contain object-left brightness-200 saturate-0"
						src="/asana.svg"
						alt="Asana"
						width="170"
						height="40"
					/>
					<img
						class="object-contain object-left brightness-200 saturate-0"
						src="/monday.svg"
						alt="Monday"
						width="136"
						height="48"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
