---
import TryCta from '../components/TryCta.vue';
---

<div id="contact" class="mx-auto mt-32 max-w-7xl sm:mt-56 sm:px-6 lg:px-8">
	<div
		class="relative isolate overflow-hidden bg-gray-800/20 px-6 py-24 shadow-2xl sm:rounded-3xl sm:px-24 xl:py-32"
		data-animate="animate-fade-left"
	>
		<h2
			class="mx-auto max-w-2xl text-center text-3xl font-bold tracking-tight text-text sm:text-4xl"
		>
			Want to try Dailyboard out?
		</h2>
		<p class="mx-auto mt-2 max-w-xl text-center text-lg leading-8 text-text-weak">
			Contact us at <a
				href="mailto:beta@dailyboard.io"
				class="text-text-primary-weak hover:text-text-primary"
				>beta&#x40;dailyboard&#46;io</a
			>
			 to join our private beta program!
		</p>
		<div class="flex justify-center w-full mt-4">
			<TryCta />
		</div>
		<svg
			viewBox="0 0 1024 1024"
			class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2"
			aria-hidden="true"
		>
			<circle
				cx="512"
				cy="512"
				r="512"
				fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
				fill-opacity="0.7"></circle>
			<defs>
				<radialGradient
					id="759c1415-0410-454c-8f7c-9a820de03641"
					cx="0"
					cy="0"
					r="1"
					gradientUnits="userSpaceOnUse"
					gradientTransform="translate(512 512) rotate(90) scale(512)"
				>
					<stop stop-color="#34d399"></stop>
					<stop offset="1" stop-color="#0d9488" stop-opacity="0"></stop>
				</radialGradient>
			</defs>
		</svg>
	</div>
</div>
