<div id="is-it-for-me">
	<div class="pt-16 pb-24 sm:pt-24 sm:pb-32 relative isolate">
		<div
			class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
		>
			<svg
				class="relative left-[calc(50%-11rem)] -z-10 mt-80 h-[21.1875rem] max-w-none -translate-x-1/4 rotate-[210deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
				viewBox="0 0 1155 678"
			>
				<path
					fill="url(#f4773080-2a16-4ab4-9fd7-579fec69a4f7)"
					fill-opacity=".2"
					d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
				></path>
				<defs>
					<linearGradient
						id="f4773080-2a16-4ab4-9fd7-579fec69a4f7"
						x1="1155.49"
						x2="-78.208"
						y1=".177"
						y2="474.645"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#34d399"></stop>
						<stop offset="1" stop-color="#0d9488"></stop>
					</linearGradient>
				</defs>
			</svg>
		</div>
		<div>
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
					<div
						class="mx-auto w-full max-w-2xl lg:mx-0"
						data-animate="animate-fade-left"
					>
						<h2 class="text-3xl font-extrabold tracking-tight text-text">
							Works with any project&nbsp;management&nbsp;app
							and&nbsp;any&nbsp;workflow
						</h2>
						<dl
							class="mt-10 max-w-xl space-y-8 text-base leading-7 text-text-weak lg:max-w-none"
						>
							<div class="relative pl-9">
								<dt class="inline font-semibold">
									<svg
										class="absolute left-1 top-1 h-5 w-5 text-text-primary-weak"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="w-6 h-6"
									>
										<path
											fill-rule="evenodd"
											d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z"
											clip-rule="evenodd"></path>
									</svg>
								</dt>
								<dd class="inline">
									<strong>No need to change anything</strong> about your
									current workflow. Dailyboard&nbsp;enhances, not replaces
									your project management app.
								</dd>
							</div>
							<div class="relative pl-9">
								<dt class="inline font-semibold">
									<svg
										class="absolute left-1 top-1 h-5 w-5 text-text-primary-weak"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="w-6 h-6"
									>
										<path
											fill-rule="evenodd"
											d="M19.902 4.098a3.75 3.75 0 00-5.304 0l-4.5 4.5a3.75 3.75 0 001.035 6.037.75.75 0 01-.646 1.353 5.25 5.25 0 01-1.449-8.45l4.5-4.5a5.25 5.25 0 117.424 7.424l-1.757 1.757a.75.75 0 11-1.06-1.06l1.757-1.757a3.75 3.75 0 000-5.304zm-7.389 4.267a.75.75 0 011-.353 5.25 5.25 0 011.449 8.45l-4.5 4.5a5.25 5.25 0 11-7.424-7.424l1.757-1.757a.75.75 0 111.06 1.06l-1.757 1.757a3.75 3.75 0 105.304 5.304l4.5-4.5a3.75 3.75 0 00-1.035-6.037.75.75 0 01-.354-1z"
											clip-rule="evenodd"></path>
									</svg>
								</dt>
								<dd class="inline">
									Use your current app to keep track of tasks and their
									requirements. Use&nbsp;Dailyboard to smoothly plan your
									everyday progress.
								</dd>
							</div>
							<div class="relative pl-9">
								<dt class="inline font-semibold">
									<svg
										class="absolute left-1 top-1 h-5 w-5 text-text-primary-weak"
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="w-6 h-6"
									>
										<path
											fill-rule="evenodd"
											d="M9.315 7.584C12.195 3.883 16.695 1.5 21.75 1.5a.75.75 0 01.75.75c0 5.056-2.383 9.555-6.084 12.436A6.75 6.75 0 019.75 22.5a.75.75 0 01-.75-.75v-4.131A15.838 15.838 0 016.382 15H2.25a.75.75 0 01-.75-.75 6.75 6.75 0 017.815-6.666zM15 6.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"
											clip-rule="evenodd"></path>
										<path
											d="M5.26 17.242a.75.75 0 10-.897-1.203 5.243 5.243 0 00-2.05 5.022.75.75 0 00.625.627 5.243 5.243 0 005.022-2.051.75.75 0 10-1.202-.897 3.744 3.744 0 01-3.008 1.51c0-1.23.592-2.323 1.51-3.008z"
										></path>
									</svg>
								</dt>
								<dd class="inline">
									Setup Dailyboard in minutes! Start an&nbsp;organization,
									create&nbsp;a&nbsp;board, invite teammates and you're ready
									to plan your first day.
								</dd>
							</div>
						</dl>
					</div>
					<div
						class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-x-6 gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8"
						data-animate="animate-fade-left"
						data-delay="300"
					>
						<img
							class="object-contain object-left brightness-200 saturate-0"
							src="/jira.svg"
							alt="Jira"
							width="114"
							height="48"
						/>
						<img
							class="object-contain object-left brightness-200 saturate-0"
							src="/clickup.svg"
							alt="ClickUp"
							width="164"
							height="40"
						/>
						<img
							class="object-contain object-left brightness-200 saturate-0"
							src="/asana.svg"
							alt="Asana"
							width="170"
							height="40"
						/>
						<img
							class="object-contain object-left brightness-200 saturate-0"
							src="/monday.svg"
							alt="Monday"
							width="136"
							height="48"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
