---
import { Icon } from 'astro-icon';
import TryCta from '../components/TryCta.astro';

const tiers = [
		{
			name: 'Pioneers',
			id: 'tier-pioneers',
			priceMonthly: '$4',
			description:
				'Get early access and receive a custom-tailored onboarding and workflow consultation from our team.',
			features: [
				'Custom onboarding experience',
				'Unlimited boards',
				'Full commitments history',
				'Unconditional refund within the first 60 days',
			],
			featured: true,
		},
	];
---
	<div
		id="pricing"
		class="relative isolate bg-background px-6 pt-24 sm:pt-32 lg:px-8"
		data-animate="animate-fade-left"
	>
		<div
			class="absolute inset-x-0 top-52 -z-10 transform-gpu overflow-hidden px-36 blur-3xl"
			aria-hidden="true"
		>
			<div
				class="mx-auto aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-emerald-400 to-emerald-700 opacity-30 rotate-[-180deg] -scale-x-100 "
				style="
					clip-path: polygon(
						74.1% 44.1%,
						100% 61.6%,
						97.5% 26.9%,
						85.5% 0.1%,
						80.7% 2%,
						72.5% 32.5%,
						60.2% 62.4%,
						52.4% 68.1%,
						47.5% 58.3%,
						45.2% 34.5%,
						27.5% 76.7%,
						0.1% 64.9%,
						17.9% 100%,
						27.6% 76.8%,
						76.1% 97.7%,
						74.1% 44.1%
					);
				"
			/>
		</div>
		<div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
			<h2 class="text-base font-semibold leading-7 text-text-primary-weak">Pricing</h2>
			<p class="mt-2 text-2xl font-bold tracking-tight text-text sm:text-4xl">
				Invest in your time
			</p>
			<p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-text-weak">
				Imagine you'd get
				<strong class="decoration-text-primary-weak underline-offset-4 underline"
					>an&nbsp;extra&nbsp;hour&nbsp;a&nbsp;week</strong
				>
				from each of your&nbsp;teammates.
				With&nbsp;Dailyboard you buy this&nbsp;time for&nbsp;a&nbsp;fraction of&nbsp;its&nbsp;cost.
			</p>
		</div>
		<div
			class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:grid-cols-1"
		>
			{tiers.map((tier, tierIdx) => (
			<div
				class={[
					tier.featured
						? 'relative bg-background/70 shadow-2xl'
						: 'bg-background/60 sm:mx-8 lg:mx-0',
					tier.featured
						? ''
						: tierIdx === 0
							? 'rounded-t-3xl sm:rounded-b-none lg:rounded-tr-none lg:rounded-bl-3xl'
							: 'sm:rounded-t-none lg:rounded-tr-3xl lg:rounded-bl-none',
					'rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10',
				].join()}
			>
				<h3
					:id="tier.id"
					class="text-base font-semibold leading-7 text-text-primary-weak"
				>
					{tier.name}
				</h3>
				<p class="mt-4 flex items-baseline gap-x-2">
					<span class="text-5xl font-bold tracking-tight text-text">{tier.priceMonthly}</span>
					<span class="text-base text-gray-400">/ user / mo.</span>
				</p>
				<p class="mt-6 text-base leading-7 text-text-weak">{tier.description}</p>
				<ul
					role="list"
					class="mt-8 space-y-3 text-sm leading-6 text-text-weak sm:mt-10"
				>
					{tier.features.map((feature) => (
						<li class="flex gap-x-3">
							<Icon
								name="ph:check-duotone"
								class="h-6 w-5 flex-none text-text-primary-weak"
								aria-hidden="true"
							/>
							{feature}
						</li>
					))}
				</ul>
				<div class="flex justify-center pt-8">
					<TryCta />
				</div>
				<div class="text-center text-sm text-text-weak mt-4">
						30-day trial, no card required
					</div>
			</div>
			))}
		</div>
	</div>
