---
import { ViewTransitions } from 'astro:transitions';
import FooterFull from '../sections/FooterFull.astro';
import FooterSimple from '../sections/FooterSimple.astro';
import TopNav from '../components/TopNav.astro';

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const isDev = import.meta.env.DEV;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-SG37KNKHFJ"
		></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-SG37KNKHFJ');
		</script>
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Dailyboard - Daily planning tool for your team" />
		<meta property="og:site_name" content="Dailyboard" />
		<meta property="og:url" content="https://dailyboard.io" />
		<meta
			property="og:description"
			content="Dailyboard will help your team achieve daily goals, work in perfect sync and reach your full potential. Get early access today!"
		/>
		<meta property="og:type" content="website" />
		<meta
			property="og:image"
			content="https://res.cloudinary.com/dl5xtsolh/image/upload/v1696969204/dailyboard_link_image.jpg"
		/>
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<ViewTransitions />
	</head>
	<body class="bg-background text-text">
		<header
			class="fixed inset-x-0 top-0 z-50 backdrop-blur-md border-b border-gray-900 bg-background/80"
		>
			<TopNav />
		</header>
		<main class="mt-24">
			<slot />
		</main>
		<FooterSimple />
	</body>
</html>
